/**********Generales**********/

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

/**********NavBar**********/

.navbar {
  background-color: #7345a1;
  color: white;
  height: 80px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  width: 220px;
  height: 40px;
  padding: 12px 32px;
  margin-right: 16px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #57c79e;
  font-weight: 700;
}

/**********CartWidget**********/

.cart-container {
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  text-align: center;
}

.cart-container:hover {
  background-color: #503071;
  cursor: pointer;
}

.bi-cart-fill {
  font-size: 24px;
}

/**********ItemlistContainer**********/

header {
  padding: 16px 80px;
}

section {
  padding: 48px 80px;
}

/**********ItemCount**********/

.item-count {
  height: 40px;
  width: 220px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin solid #57c79e;
  border-radius: 8px;
}

/**********Item**********/

.item {
  width: 240px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 8px 16px #757575;
}

.item-img {
  width: 100%;
  height: 216px;
}

.item-details {
  width: 240px;
  padding: 16px;
  text-align: center;
}

.item-details > span {
  font-size: 18px;
}

.item-details > div {
  margin: 8px 0 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-details button {
  border: thin solid #57c79e;
  border-radius: 8px;
  color: #57c79e;
  font-weight: 700;
  background: none;
  text-decoration: none;
  height: 40px;
}

.item-details button:hover {
  border: none;
  background-color: #57c79e;
  color: white;
  cursor: pointer;
}

.item-price {
  font-weight: 700;
}

.item-quantity {
  color: #757575;
}

/**********ItemList**********/

.item-list {
  display: grid;
  /* Grid 3x? */
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
