/**********Generales**********/

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 38px;
  margin: 0 0 32px;
}

p {
  margin: 0;
}

/**********NavBar**********/

.navbar {
  background-color: #7345a1;
  color: white;
  height: 80px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  width: 220px;
  height: 40px;
  padding: 12px 32px;
  margin-right: 16px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #57c79e;
  font-weight: 700;
}

/**********CartWidget**********/

.cart-container {
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  text-align: center;
}

.cart-container:hover {
  background-color: #503071;
  cursor: pointer;
}

.cart-container div {
  padding: 1px;
  height: 18px;
  width: 18px;
  background-color: #57c79e;
  border-radius: 18px;
  font-weight: 700;
  position: absolute;
  right: 92px;
  top: 20px;
}

.bi-cart-fill {
  font-size: 24px;
}

/**********ItemlistContainer**********/

header {
  padding: 16px 80px;
}

section {
  padding: 48px 80px;
}

/**********ItemCount**********/

.item-count {
  height: 40px;
  width: 220px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin solid #57c79e;
  border-radius: 8px;
}

.item-count button {
  text-decoration: none;
  border: none;
  background: none;
  color: #57c79e;
  font-size: 21px;
  font-weight: 700;
}

.item-count button:hover {
  color: #29947a;
  cursor: pointer;
}

.item-count span {
  color: #57c79e;
  font-weight: 700;
}

/**********Item**********/

.item {
  width: 240px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 8px 16px #757575;
}

.item-img {
  width: 100%;
  height: 216px;
}

.item-info {
  width: 240px;
  padding: 16px;
  text-align: center;
}

.item-info > span {
  font-size: 18px;
}

.item-info > div {
  margin: 8px 0 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-info button {
  border: thin solid #57c79e;
  border-radius: 8px;
  color: #57c79e;
  font-weight: 700;
  background: none;
  text-decoration: none;
  height: 40px;
}

.item-info button:hover {
  border: none;
  background-color: #57c79e;
  color: white;
  cursor: pointer;
}

.item-price {
  font-weight: 700;
}

.item-quantity {
  color: #757575;
}

/**********ItemList**********/

.item-list {
  display: grid;
  /* Grid 3x? */
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/**********ItemDetails**********/

.item-details {
  width: 80%;
  margin: 48px auto;
  display: flex;
}

.item-details img {
  width: 33%;
  height: auto;
}

.item-details > div {
  padding: 0 40px;
}

.item-details__header {
  margin-bottom: 40px;
}

.item-details__header > div {
  font-size: 28px;
  font-weight: 500;
}

.item-details > div > div:nth-child(2) {
  margin-bottom: 40px;
}

.item-details__buttons {
  display: flex;
}

.item-details__buttons > button {
  margin-left: 24px;
  border-radius: 8px;
  color: #57c79e;
  font-weight: 700;
  text-decoration: none;
  height: 40px;
  width: 220px;
  border: none;
  background-color: #57c79e;
  color: white;
}

.item-details__buttons > button:hover {
  background-color: #29947a;
  cursor: pointer;
}

.item-details__buttons > div > div {
  margin-bottom: 8px;
}

.item-details__buttons > div > span {
  color: #757575;
}

/**********CartItem**********/
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: thin solid #7345a1;
  margin-bottom: 8px;
}

.cart-item-img {
  width: 56px;
  height: 56px;
}

.cart-item-info {
  height: 56px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 16px;
}

.cart-item-info > div {
  margin-left: 16px;
}

.cart-item button {
  padding: 0 16px;
  border: thin solid #57c79e;
  border-radius: 8px;
  color: #57c79e;
  font-weight: 700;
  background: none;
  text-decoration: none;
  height: 40px;
}

.cart-item button:hover {
  border: none;
  background-color: #57c79e;
  color: white;
  cursor: pointer;
}

.cart-item-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.cart-item-price {
  font-weight: 700;
}

/**********CartView**********/

.cart-view {
  display: flex;
}

.cart-view__cart-items {
  width: 100%;
  margin-left: 64px;
}

.cart-view__cart-items__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.cart-view__cart-items__header h2 {
  margin: 0;
}

.cart-view__cart-items__header button {
  height: 40px;
  padding: 0 16px;
  text-decoration: none;
  border: none;
  background: none;
  color: #57c79e;
  font-weight: 700;
  font-size: 18;
}

.cart-view__cart-items__header button:hover {
  color: #29947a;
  cursor: pointer;
}

.cart-view__cart-items__total-amount {
  font-size: 18px;
  font-weight: 700;
}

/**********Checkout**********/

.cart-view__checkout {
  width: 100%;
  padding: 32px;
  background-color: #7345a1;
  border-radius: 12px;
}

.cart-view__checkout h2 {
  color: white;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input {
  height: 56px;
  width: 100%;
  padding: 20px;
  border: thin solid #757575;
  border-radius: 4px;
  margin-bottom: 16px;
}

input:hover {
  border: medium solid #757575;
}

input::placeholder {
  font-size: 16px;
  color: 757575;
}

input:focus {
  border: medium solid #57c79e;
  outline: none;
}

.submit {
  padding: 14px;
  border-radius: 8px;
  color: #57c79e;
  font-weight: 700;
  text-decoration: none;
  height: 40px;
  width: 220px;
  border: none;
  background-color: #57c79e;
  color: white;
  margin-top: 32px;
}

.submit:hover {
  background-color: #29947a;
  cursor: pointer;
  border: none;
}
